---
layout: default
---

<div class="home">

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%-m月%-d日 %H:%M" }}</span>

        <h3>
          {{ post.content }}
        </h3>

        {% if post.imgs.size == 1 %}
        <div>
            <img src={{post.imgs[0]}}>
        </div>
        {% endif %}

        {% if post.imgs.size == 2 %}
            {% for img in post.imgs %}
                <div class = div_inline>
                    <img src={{img}}>
                </div>
            {% endfor %}
        {% endif %}


      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
